/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LAYOUT */
.layout {
  display: flex;
  min-height: 100vh;
  background: #020617;
  color: #e2e8f0;
  font-family: "Inter", Arial, sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #020617;
  border-right: 1px solid #1e293b;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.sidebar button {
  padding: 10px;
  background: transparent;
  border: 1px solid #1e293b;
  color: #e2e8f0;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar button:hover {
  background: #1e293b;
}

.sidebar .logout:hover {
  background: #eb6767;
}

.sidebar .logout {
  margin-top: auto;
  background-color: #ef4444;
  color: #fff;
}

/* MAIN */
.content {
  flex: 1;
  padding: 30px;
}

/* TOPBAR */
.topbar {
  margin-bottom: 20px;
}

.topbar h1 {
  font-size: 24px;
}

/* CARD */
.card {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 12px;
  padding: 20px;
}

/* FORM GRID */
.formGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  align-items: end;
}

/* CAMPOS */
.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field label {
  font-size: 14px;
  color: #94a3b8;
}

.field input,
.field select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #1e293b;
  background: #020617;
  color: #e2e8f0;
  outline: none;
  transition: 0.2s;
}

.field input:focus,
.field select:focus {
  border-color: #3b82f6;
}

/* BOTÃO */
.btn {
  padding: 12px;
  background: #3b82f6;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
  height: 42px;
}

.btn:hover {
  background: #2563eb;
}

.btn:disabled {
  background: #64748b;
  cursor: not-allowed;
}